# This is Git's per-user configuration file.
[include]
	path = ~/.gitconfig.hidden # this is for oauth tokesn and that sort of stuff

[user]
# Please adapt and uncomment the following lines:
	name = Jeetaditya Chatterjee
	email = jeetelongname@gmail.com

[github]
	user = jeetelongname

[core]
    pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'

[interactive]
    diffFilter = delta --color-only

[color]
	ui = auto
