/config.nix
/config/neovim/autoload/
/config/neovim/.netrwhist
/config/emacs/doom/custom.el
/config/neovim/plugin/
/config/linked/doom/custom.el
/config/linked/neovim/.netrwhist
/config/linked/neovim/autoload/
/config/linked/neovim/plugin/
/.cache/
/scripts/.local/bin/debugpy
/scripts/.local/bin/docutils
/scripts/.local/bin/f2py
/scripts/.local/bin/fonttools
/scripts/.local/bin/httpx
/scripts/.local/bin/ipython
/scripts/.local/bin/ipython3
/scripts/.local/bin/wsdump
/scripts/.local/bin/jlpm
/scripts/.local/bin/jsonpointer
/scripts/.local/bin/jsonschema
/scripts/.local/bin/jupyter
/scripts/.local/bin/jupyter-console
/scripts/.local/bin/jupyter-dejavu
/scripts/.local/bin/jupyter-events
/scripts/.local/bin/jupyter-execute
/scripts/.local/bin/jupyter-kernel
/scripts/.local/bin/jupyter-kernelspec
/scripts/.local/bin/jupyter-lab
/scripts/.local/bin/jupyter-labextension
/scripts/.local/bin/jupyter-labhub
/scripts/.local/bin/jupyter-migrate
/scripts/.local/bin/jupyter-nbconvert
/scripts/.local/bin/jupyter-notebook
/scripts/.local/bin/jupyter-run
/scripts/.local/bin/jupyter-server
/scripts/.local/bin/jupyter-troubleshoot
/scripts/.local/bin/jupyter-trust
/scripts/.local/bin/marimo
/scripts/.local/bin/markdown_py
/scripts/.local/bin/nltk
/scripts/.local/bin/normalizer
/scripts/.local/bin/numpy-config
/scripts/.local/bin/pip
/scripts/.local/bin/pip3
/scripts/.local/bin/pip3.13
/scripts/.local/bin/pipenv
/scripts/.local/bin/pipenv-resolver
/scripts/.local/bin/pipx
/scripts/.local/bin/pybabel
/scripts/.local/bin/pyftmerge
/scripts/.local/bin/pyftsubset
/scripts/.local/bin/pygmentize
/scripts/.local/bin/pyjson5
/scripts/.local/bin/rst2html
/scripts/.local/bin/rst2html4
/scripts/.local/bin/rst2html5
/scripts/.local/bin/rst2latex
/scripts/.local/bin/rst2man
/scripts/.local/bin/rst2odt
/scripts/.local/bin/rst2pseudoxml
/scripts/.local/bin/rst2s5
/scripts/.local/bin/rst2xetex
/scripts/.local/bin/rst2xml
/scripts/.local/bin/send2trash
/scripts/.local/bin/tqdm
/scripts/.local/bin/ttx
/scripts/.local/bin/userpath
/scripts/.local/bin/uvicorn
/scripts/.local/bin/virtualenv
/scripts/.local/bin/websockets
/scripts/.local/bin/wheel
