# home directroy cleaning
.bash_history
.cache
.cache
.cpan
.cups
.emacs.d
.fonts
.gnupg
.gtkrc-2.0
.hplip
.icons
.java
.mozilla
.minecraft
.pki
.python_history
.npm
reveal.js
.rustup
.sane
.ssh
.sudo_as_admin_successful
.steam
.texlive2019
.tmux
.var
.vim
.pulse-cookie
.steampath
.steampid
Documents
Downloads
git-repos
go
GPUCache
Nextcloud
org-notes
perl5
Pictures
Python
snap
Steam
Templates
Videos
# .local cleanup
.local/share
.local/lib
.local/bin/Appimages
.local/bin/dotenv
.local/bin/exa
.local/bin/ytop
.local/bin/powerline*
.local/state
# .config cleanup

.config/autostart
.config/configstore
.config/BraveSoftware
.config/cef_user_data
.config/chromium
.config/dconf
.config/deepin
**/.config/discord/
**/.config/discordcanary/
.config/enchant
.config/eog
.config/evince
.config/evolution
.config/geary
.config/gedit
.config/gnome-boxes
.config/gnome-control-center
.config/gnome-session
.config/goa-1.0
.config/google-chrome
.config/google-chrome-beta
.config/google-chrome-unstable
.config/gsconnect
.config/gtk-*
.config/ibus
.config/libreoffice
.config/libfm
.config/Microsoft
.config/nautilus
.config/Nextcloud
**/.config/nvim/autoload/**
**/.config/oh-my-zsh/
.config/pulse
.config/Rygel
.config/spotify
.config/spwm
.config/skypeforlinux
.config/teams
**/.config/teams-insiders
.config/user-dirs.dirs
# awesome cleanup
.config/awesome/awesome-copycats
.config/awesome/awesome-wm-widgets
.config/awesome/freedesktop
.config/awesome/lain
.config/awesome/themes

# zsh cleanup

.config/zsh/.zcompdump
.config/zsh/.zcompdump*
.config/zsh/plugins
