[submodule "doom/.config/doom"]
	path = doom/.config/doom
	url = git@github.com:jeetelongname/.doom.git
[submodule "shell/.config/zsh"]
	path = shell/.config/zsh
	url = git@github.com:jeetelongname/zsh.git
