#!/bin/sh
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

export LF_ICONS="di=:'':\
fi=:\
tw=:\
ow=:\
ln=:\
or=ﲅ:\
ex=﫜:\
*.txt=:\
*.mom=:\
*.me=:\
*.ms=:\
*.png=:\
*.ico=:\
*.jpg=:\
*.jpeg=:\
*.gif=:\
*.svg=ﰟ:\
*.xcf=:\
*.html=:\
*.xml=:\
*.gpg=:\
*.css=:\
*.pdf=:\
*.djvu=:\
*.epub=:\
*.csv=:\
*.xlsx=:\
*.tex=:\
*.md=:\
*.r=:\
*.R=:\
*.rmd=:\
*.Rmd=:\
*.mp3=:\
*.opus=:\
*.ogg=:\
*.m4a=:\
*.flac=:\
*.mkv=:\
*.mp4=:\
*.webm=:\
*.mpeg=:\
*.zip=遲:\
*.rar=遲:\
*.7z=遲:\
*.tar.gz=遲:\
*.z64=:\
*.v64=:\
*.n64=:\
*.1=ℹ:\
*.nfo=ℹ:\
*.info=ℹ:\
*.log=:\
*.iso=﫭:\
*.img=﫭:\
*.bib=:\
*.ged=侮:\
*.part=:\
*.torrent=:\
*.vim=:\
*.diff=:\
"
