body{
    margin: 0;
    padding: 0;
}
#viewport{
    position: absolute;
    width: 100%;
    height: 100%;
}
.page{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #508C7D, #D394BD);
}
#time{
    color: #f7fafc;
    font-size: 9em;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
}
.book-container{
    display: flex;
    justify-content: center;
    top:50%;
}
.book-marks{
    
}
ul{
    padding: 0;
}
a {
    text-decoration: none;
}
